* { 
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 100px 600px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
}

.header input {
    background-color: rgb(132, 123, 158);
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 15px;
    width: 500px;
    border-style: solid;
}

.header button {
    border: none;
    background-color: rgb(83, 63, 138);
    color: white;
    padding: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
}

.top-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-right-content {
    justify-self: end;
    margin-right: 40px;
}

.bottom-right-content {
    justify-self: end;
    margin-right: 30px;
}

.bottom-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(83, 63, 138);
    display: grid;
    grid-template-rows: 40px 240px 150px;
    align-items: end;
}

.sidebar h2 {
    color: white;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    margin-left: 10px;
}

.sidebar ul li {
    color: white;
    font-weight: 700;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    margin-left: 12px;
}

.sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.sidebar ul img {
    max-width: 22px;
    max-height: 22px;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(132, 123, 158);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 10px;
}

.left-projects {
    grid-column: 1 / 2;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr;
}

.left-projects p {
    grid-column: 1 / 3;
}

.right-projects {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    gap: 10px;
    grid-template-rows: 20px 1fr 20px 1fr;
}


.inside-projects {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid black;
}

.inside-announcement {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border-radius: 5px;
}